<!DOCTYPE html>
<html>
	<body>
		<form method="POST" action="/save">
			<label for="item">Enter item name:</label>			
			<input type="text" name="item"/>
			<br/>
			<label for="amount">Enter item amount:</label>
			<input type="text" name="amount"/>
			<br/>
			<input type="submit" value="Submit"/>
		</form>
	</body>
</html>
